footer {
    color: #fff;
    background-color: var(--primary-bg-color);
    .icons {
        .media-icon {
            border: 1px solid #fff;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.copyright {
    background-color: #1a252f;
    color: #fff;
}